.pitch {
    width: 100%;
    height: 100%;
    background-image: url('../images/pitch-bg.png');
    background-repeat: repeat;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.formation-tier {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 30px;
}